body {
	margin: 0;
}
.nav a {
  margin-top: 0;
  color: #5a5a5a;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  position: relative;


}




.nav {
	color: transparent;
  padding:0;
  height: 60px;
  position: relative;

}

.jumbotron {
  background-image:url('background.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  padding:0;
}

.nav li {
  height: 60px;
  float: left;
  border-top: 10px;
  display: inline-block;
  padding: 20px;
  width: 1200px;
  font-family: sans-serif;
  text-align: center;
}

.nav li:hover {
  cursor: pointer;
}

.container {
	margin:0;
	padding: 0;
}
.nav {
  
  transition : 0.5s background;
}

.nav:hover {
  background-color: #E6E6E6;
  cursor: pointer;
}