body {
	background-color: black;
}

.nav a {
  margin-top: 0;
  color: #5a5a5a;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  position: relative;


}



.nav {
  background-color: white;
  padding:0;
  height: 60px;
  position: relative;

}

.jumbotron {
  background-image:url('background.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav li {
  height: 60px;
  float: left;
  border-top: 10px;
  display: inline-block;
  padding: 20px;
  width: 1200px;

  text-align: center;
}

.nav li:hover {
  cursor: pointer;
}

.nav {
  
  transition : 0.5s background;
}

.nav:hover {
  background-color: teal;
  cursor: pointer;
}